dash[compress]
dash-bio
dash-cytoscape
dash-bootstrap-components
plotly
pandas
networkx
python-igraph
scanpy
numpy
scipy
orjson
humanize
# Default diskcache queue
diskcache
multiprocess
psutil
dill==0.3.4
kaleido