body > div.circos-tooltip {
    position: absolute !important;
}

.slider_text_input {
    max-width: 20.25% !important;
    flex: 0 0 20.25% !important;
}

.accordion-body {
    padding: 1rem 0 !important;
}