#circos-tooltip {
    /*Place in top left corner*/
    position: absolute !important;
    text-align: left !important;
    top: 0 !important;
    left: 0 !important;
}
.circos-tooltip > h3 {
    font-size: 9pt;
}
.circos-tooltip > h4 {
    font-size: 9pt;
}

.card-text > h4 {
    text-align: justify;
    font-size: calc(0.8rem + 0.5vw);
}

.card-text > * > h5 {
    font-size: calc(1rem + 0.75vw) !important;
    text-align: left !important;
}

.card-title {
    font-size: min(0.8rem + 1.1vw, 1.5rem) !important;
    text-align: left !important;
    padding-top: 0.55rem !important;
    vertical-align: center !important;
    font-weight: bold !important;
}

/* Apply on all elements except track 0 (text labels) */
.not-hovered {
    /* Make elements saturated */
    opacity: 0.05;
    /* Hide text */
    font-size: 0;
}

.not-highlighted {
    /* Make elements saturated */
    opacity: 0.05;
    /* Hide text */
    font-size: 0;
}

/* Emphasize mouse-over text */
#svg-child.moused-over > g > g > g > g > text:not(.not-hovered) {
    font-size: 10pt !important;
    font-weight: bold !important;
    z-index: 1000;
}
#svg-child.searched > g > g > g > g > text:not(.not-highlighted) {
    font-size: 10pt !important;
    font-weight: bold !important;
    z-index: 1000;
}

.slider_text_input {
    max-width: calc(6.5rem + 1vw) !important;
    min-width: 6.5rem !important;
}

.ct-slider {
    padding: 0 !important;
    margin: 0 !important;
    height: unset !important;
}

.container-fluid {
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}
.card-group {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.help-button-group {
    padding-left: 0rem !important;
}

.offcanvas {
    width: 50% !important;
}

/*Grab indicator for circos, on drag switch to grabbing*/
#Circos-container:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#Circos-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#circos-toolbar {
    position: absolute !important;
    margin-top: -2.5rem;
    right: 1vw;
    z-index: 1000;
    background-color: #ffffff;
}

.circosLegends {
    margin-left: 0 !important;
    padding-left: 1vw !important;
}

/* Fix legend scaling */
#circos-legend > div.js-plotly-plot > div > div {
    height: 100% !important;
    max-width: 100% !important;
}

#celltype-interaction-graph > div.js-plotly-plot > div > div {
    height: min(980px, 70vw) !important;
    max-width: 100% !important;
}

#network_graph > div.js-plotly-plot > div > div {
    height: min(980px, 70vw) !important;
    max-width: 100% !important;
}

#celltype-interaction-graph > div.js-plotly-plot > div > div > svg {
    background: rgba(0, 0, 0, 0) !important;
}

#network_graph > div.js-plotly-plot > div > div > svg {
    background: rgba(0, 0, 0, 0) !important;
}

.modebar {
    margin-top: -3rem !important;
    position: relative !important;
    align-items: end !important;
    justify-content: end !important;
    margin-left: 8rem !important;
}

.cbtitle > text {
    /* Rotate the axis title by 180 degrees and move title down slightly */
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(90deg);
}

.accordion-body {
    padding: 1rem 2vw !important;
    text-align: justify;
}

.dash-graph {
  zoom: 0.33;
  margin-bottom: 900px;
}

#celltype-interaction-graph {
  translate: -300px;
}

@media (min-width: 475px) {
  .dash-graph {
    zoom: 0.6;
    margin-bottom: 800px;
  }
}

@media (min-width: 768px) {
  .dash-graph {
    zoom: 0.85;
    margin-bottom: 600px;
    translate: -100px !important;
  }

  #celltype-interaction-graph {
    translate: -100px;
  }
}

@media (min-width: 1200px) {
  .dash-graph {
    zoom: 1;
    margin-bottom: 400px;
    translate: -100px;
  }
}

/* Remove mobile interactions */
@media (max-width: 768px) {
    .drag {
        pointer-events: none !important;
        touch-action: none !important;
    }
    .modebar-container{
      display: none;
    }
}