.circos-tooltip {
    /*Place in top left corner*/
    position: absolute !important;
    text-align: left !important;
    top: 0 !important;
    left: 0 !important;
}
.circos-tooltip > h3 {
    font-size: 9pt;
}
.circos-tooltip > h4 {
    font-size: 9pt;
}

.card-text > h4 {
    text-align: justify;
    font-size: calc(0.8rem + 0.5vw);
}

.card-text > * > h5 {
    font-size: calc(1rem + 0.75vw) !important;
    text-align: left !important;
}

.card-title {
    font-size: calc(0.8rem + 1.1vw) !important;
    text-align: left !important;
    font-weight: bold !important;
}

/* Apply on all elements except track 0 (text labels) */
.not-hovered {
    /* Make elements saturated */
    opacity: 0.05;
    /* Hide text */
    font-size: 0;
}

.not-highlighted {
    /* Make elements saturated */
    opacity: 0.05;
    /* Hide text */
    font-size: 0;
}

/* Emphasize mouse-over text */
#svg-child.moused-over > g > g > g > g > text:not(.not-hovered) {
    font-size: 10pt !important;
    font-weight: bold !important;
    z-index: 1000;
}
#svg-child.searched > g > g > g > g > text:not(.not-highlighted) {
    font-size: 10pt !important;
    font-weight: bold !important;
    z-index: 1000;
}

.slider_text_input {
    max-width: 20.25% !important;
    flex: 0 0 20.25% !important;
}

.accordion-body {
    padding: 1rem 0 !important;
}

.offcanvas {
    width: 50% !important;
}

/*Grab indicator for circos, on drag switch to grabbing*/
#Circos-container:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#Circos-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#circos-toolbar {
    position: absolute !important;
    top: 7.5%;
    right: 5%;
    z-index: 1000;
    background-color: #ffffff;
}

.cbtitle > text {
    /* Rotate the axis title by 180 degrees and move title down slightly */
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(90deg);
}

.accordion-body {
    padding: 1rem 2rem !important;
}
